<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind ofera prajituri, torturi, produse de patiserie cu optiunea de achizitie online si livrare prin curier.">
        <meta name="keywords" content="cofetarie, Dulcelind, prajituri, torturi, dulce, pateuri, produse">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <link rel="stylesheet" href="/resurse/css/produse500.css" type="text/css" media="screen and (max-width: 500px)" />
        <title>Cofetăria Dulcelind - home</title>   
        <script type="text/javascript" src=/resurse/js/jucarii.js></script>

    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>

            <h1>Jucarii</h1>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="jucarie" >
                        <h2 class="nume">Nume: <a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <div class="info-prod">
                            <p class="pret">Pret: <span class="val-pret"><%- prod.pret%></span></p>
                        </div>
                        <p class="varsta_minima">Varsta minimia:<span class="varsta"><%- prod.varsta_minima%></span></p>
                    </article>
                <% }%>
            </div>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>