<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Magazin Ski - cos virtual.">
        <meta name="keywords" content="ski, schi, iarna, geaca, manusi, clăpari, ochelari, casca, bete, echipament ski, incaltaminte, reduceri,
    brand-uri, alpin ski, site schi, zăpadă, gheață, magazin ski, magazin online, snowboard,TheNorthFace">
        <link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" />
        <link href ="/resurse/css/produs.css" type ="text/css" rel="stylesheet" />
        <title>Ski Shop - cos virtual</title>
        <%- include("../fragmente/head") %>     
       
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
               
                <article id="art-produs">
                    <div class = grid-prod>
                    <div id = "produs">  
                        <h2><span class="nume"><%- locals.prod.nume %></span></h2>
                        <p>Pret: <span class="pret"><%- locals.prod.pret %> </span> RON</p>
                        <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                        <p>Categorie produs: <span class="categorie"><%- locals.prod.categorie %> </span></p>
                        <p>Material: <span class="material"><%- locals.prod.material %> </span></p>
                        <p>Marime: <span class="marime"><%- locals.prod.marime %> </span></p>
                        <p>Culoare: <span class="culoare"><%- locals.prod.culoare %> </span></p>
                        <p>Rating: <span class="rating"><%- locals.prod.rating %> </span></p>
                        <p>Voucher: <span class="voucher"><%- locals.prod.voucher %> </span></p>
                        <p class="data">Adaugat la:<span class="val-data">
                            <time class="val-data_adaugare" datetime="<%- prod.data_adaugare %>"><%- new Date(prod.data_adaugare).toLocaleDateString('ro-RO', {weekday: 'long', day: 'numeric', month: 'long', year: 'numeric'}) %></time>
                    </div>
                    <div class = imag-produs>
                    <figure class="imag-produs">
                        <img  src="/resurse/imagini/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>
                </div>  
                    
                </article>
            </div>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>